# Configuração sensível com chaves da API do Firebase (NÃO EXPOR)
web/firebase-config.js
firebase-config.js
*.env
.env*

# Arquivos de compilação Java e logs
bin/
*.class
*.log
cinevoto_data.txt

# Configurações de IDE e diretórios temporários
.idea/
.vscode/
cinevoto/
